In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 1 train and fine tune a Decision Tree

In [10]:
from sklearn.datasets import make_moons

# generate a moon dataset
data = make_moons(n_samples=10000, noise=0.4)

X = data[0]
y = data[1]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [25]:
X_train.shape

(7500, 2)

In [26]:
y_train.shape

(7500,)

In [29]:
df = pd.DataFrame(data=X)
df

             0         1
0     1.679880 -0.001467
1     1.095382  0.169815
2    -0.879036  0.306164
3     0.200260 -1.061019
4     1.133282 -0.135602
...        ...       ...
9995  1.867159  0.374660
9996  2.438110 -0.467456
9997 -0.686242  0.518961
9998  0.246226 -0.918074
9999  1.214050  0.579111

[10000 rows x 2 columns]